<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="FPGENPROG" value="/home/cesare/microsemi/Libero_SoC_v2021.1/Libero/bin64/fpgenprog"/>
        <mapEntry key="SC_INSTALL_DIR" value="/home/cesare/microsemi/SoftConsole-v2021.1/"/>
    </mapAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.ui.externaltools.ATTR_INCLUDE_REFERENCED_PROJECTS" value="false"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/bin/java"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-jar mpfsBootmodeProgrammer.jar&#13;&#10;--bootmode 0&#13;&#10;--die MPFS250T_ES&#13;&#10;--package FCVG484"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="/home/cesare/microsemi/SoftConsole-v2021.1/extras/mpfs/"/>
</launchConfiguration>
